:root {
	--primary: #fffffffa;
	--secondary: #f5f5f7aa;
	--tertiary: #8f8f8f;
	--quarternary: #262626;
	--blue: #89cffb;
	--green: #2bc62b;
	--yellow: #c8c840;
	--orange: #e69600;
	--red: #fb6060;
	--black: #2f2f2f;
	--text: #fffffffa;
}

.night {
	--primary: #262626;
	--secondary: #8f8f8f;
	--tertiary: #f5f5f7aa;
	--quarternary: #fffffffa;
}
