:root {
	--primary: #fffffffa;
	--secondary: #262626;
	--blue: #89cffb;
	--green: #2bc62b;
	--yellow: #c8c840;
	--orange: #e69600;
	--red: #fb6060;
	--black: #2f2f2f;
	--text: #fffffffa;
	--text-secondary: #f5f5f7aa;
	--text-tertiary: #9c9c9c;
}

.night {
	--primary: #262626;
	--secondary: #fffffffa;
}
