@import "./colors.css";

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	box-shadow: inset 0 0 3px 2px var(--secondary);
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/weather/day/clear.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--text-primary);
}

/* Main Panel */
.main-panel {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.summary {
	width: fit-content;
	padding: 0 0 20px 50px;
	display: flex;
	align-items: flex-end;
	column-gap: 20px;
	backdrop-filter: blur(1.2px);
}

.temp-container {
	display: flex;
}

.temp-high-low {
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.temp-high-low > span {
	font-size: 1.6rem;
}

.temp {
	font-size: 5.5rem;
	font-weight: 400;
}

.location-info-container {
	padding-bottom: 30px;
}

.location {
	font-size: 2.5rem;
	font-weight: 400;
}

.time-date {
	font-size: 1rem;
	color: var(--text-tertiary);
}

.weather-info-container {
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.weather-desc {
	font-size: 1rem;
}

/* Side Panel */
.side-panel {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 8px 1px var(--secondary);
}

.side-panel h3 {
	margin-bottom: 10px;
	font-size: 1.5rem;
}

.search-section {
	box-shadow: inset -1px -1px 3px 0px var(--secondary);
}

.search-form {
	height: 50px;
	display: flex;
	position: relative;
}

.search-input {
	padding-left: 15px;
	flex-grow: 1;
	background: transparent;
	border: none;
	box-shadow: inset -1px -1px 3px 0px var(--secondary);
	outline: none;
	color: var(--text-primary);
	transition: all 150ms ease-out;
}

.search-input:hover,
.search-input:focus {
	box-shadow: inset -1px -1px 8px 0px var(--secondary);
}

.search-input::placeholder {
	color: var(--text-tertiary);
	transition: all 250ms ease-out;
}

.search-btn {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	background: transparent;
	border: none;
	cursor: pointer;
}

.search-btn svg {
	width: 30px;
}

.search-btn svg:hover .search-btn-img {
	fill: var(--text-primary);
}

.search-btn-img {
	transition: all 150ms ease-out;
}

.major-cities {
	padding: 15px 30px 20px;
	list-style: none;
	line-height: 2;
}

.major-city {
	color: var(--text-secondary);
	transition: all 150ms ease-out;
	cursor: pointer;
}

.major-city:hover {
	color: var(--text-primary);
}

.more-info-section {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	box-shadow: inset -1px -1px 3px 0px var(--secondary);
	overflow-y: auto;
}

.weather-information,
.air-quality-information {
	padding: 15px 30px 20px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	box-shadow: inset -1px -1px 3px 0px var(--secondary);
	list-style: none;
	line-height: 2;
}

.information {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

#air-quality-rating {
	margin-left: 15px;
	font-size: 1.2rem;
}

/* Active Text */
.active {
	color: var(--text-primary);
}

/* Air Quality Rating Styles */
.good {
	color: var(--blue);
}

.moderate {
	color: var(--green);
}

.unhealthy-sensitive {
	color: var(--yellow);
}

.unhealthy {
	color: var(--orange);
}

.very-unhealthy {
	color: var(--red);
}

.hazardous {
	color: var(--black);
}
